@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FEF5F0;
}

.img-flex {
  display: block;
  width: 100%;
}

header {
  background-color: #D6C2B4;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-family: Lora, serif;
}

.logo {
  width: 50%;
  position: relative;
  padding: .5rem 2rem;
}

.logo h1 {
  font-family: Marck Script, cursive;
  font-size: 2em;
  color: #392213;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: .5rem;
  left: .5rem;
}

.logo img {
  position: absolute;
  width: 80%;
  top: .5rem;
  left: 1rem;
  opacity: .2;
}

nav {
  width: 50%;
}

nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

nav li {
  padding: .7rem 1.5rem;
  font-family: Nunito, sans-serif;
  text-align: right;
}

nav a {
  color: #392213;
  text-decoration: none;
  padding-bottom: .3rem;
}

nav a:hover {
  border-bottom: 2px solid #5D180E;
  color: #5D180E;
}

.header-wrap{
  position: relative;
}

.header-caption {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #FEF5F0;
  background-color: rgba(93, 24, 14, .7);
  padding: .5rem 1rem;
  border-radius: 20px;
}

.header-caption h2 {
  font-family: Marck Script, cursive;
  font-size: 2rem;
  margin: 0;
}

.header-caption span {
  font-family: Nunito, sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.about {
  padding: 1.5rem;
  text-align: center;
}

.about hr {
  height: 2px;
  width: 12rem;
  border-color: #392213;
  border-radius: 50%;
}

.about h2 {
  font-size: 1.9rem;
  color: #392213;
  margin: 0;
  font-family: Marck Script, cursive;
}

.about p {
  text-align: left;
  font-size: 15px;
}

.chocolate, .shop {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.link-card {
  position: absolute;
  text-decoration: none;
  width: 80%;
  font-family: Marck Script, cursive;
  font-size: 1.7rem;
  color: #FEF5F0;
  padding: 1rem 2rem;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(70, 24, 14, .7);
}

.link-card:hover {
  color: #392213;
  background-color: rgba(254, 245, 240, .7);
}

.link-card h2 {
  margin: 0;
}

.link-card span {
  font-family: Nunito, sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}

.chocolate .link-card {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.newsletter a {
  text-decoration: none;
}

.news {
  background-color: #5D180E;
  text-align: center;
  padding: 2rem;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  color: #FEF5F0;
}

.news:hover {
  background-color: #FEF5F0;
  color: #5D180E;
}

.shop .link-card {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.footer {
  padding: .75rem;
  text-align: center;
}

.copyright {
  font-size: .6rem;
  padding-top: .5rem;
  color: #392213;
  font-family: Lora, sans-serif;
}

.social {
  margin: 0;
  padding: 0;
  padding-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social li {
  list-style-type: none;
  font-family: Nunito, sans-serif;
  font-size: .9rem;
}

.social a {
  color: #392213;
  text-decoration: none;
}

.social a:hover {
  color: #5D180E;
}
